.redtime {
  background-color: #E75B5B;
}

.orangetime {
  background-color: #F59B50;
}

.yellowtime {
  background-color: #F7DA66;
}

.greentime {
  background-color: #B4E47A;
}

.bluetime {
  background-color: #7ABDE4;
}

.purpletime {
  background-color: #BB97E3;
}
